
  	
 	<img src = <%=event.image%> >

  	<h2><%= link_to event.name, event %> <h2>
  	<h3>
  	<%= event.start_time %> 
  	<%= event.start_date %> 
  	<%= event.address %>
  	<%= truncate(event.description, length: 100) %>
  	</h3>
  	<p>
  	  Tags: <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>

 