<h1><%= @event.name %> </h1>
<br>
<img src="<%=@event.image%>">

<br>
<p> Description: <%= @event.description %></p>
<p> Start time: <%= @event.time %> </p>
<p> Date: <%= @event.start_date %> </p>
<p> Address: <%= @event.address %> </p>
