<%= link_to "Back to Events", events_url %> | <%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "Delete", @event, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}  %>

<h1><%= @event.name %> </h1>
<br>
<img src="<%=@event.image%>">

<br>
<p> Description: <%= @event.description %></p>
<p> Start time: <%= @event.time.strftime("%l:%M %p") %> </p>
<p> Date: <%= @event.start_date %> </p>
<p> Address: <%= @event.address %> </p>
<p>
	Tags: 
<% @event.categories.each do |c| %>
  <%= link_to c.name, category_path(c.id) %>
<% end %>
</p>
  

<br>

<%= content_tag "div", "", id: 'map-canvas', data: {latitude: @event.latitude.to_f, longitude: @event.longitude.to_f, coords: @nearby_events } %>
<br>
<br>

<% if @nearby_events.any? %>
	<h2>Nearby events</h2>
	<ul>
		<% @nearby_events.each do |ne| %>
			<li><%= "#{ne.name}, #{ne.distance.to_f.round(2)} km away" %></li>
		<% end %>
	</ul>
<% end %>


