<h1><%= "#{@category.name}" %></h1>

<p>
	<% @category.events.each do |event| %>
		<img src = <%=event.image%> >
		<h2><%= event.name %><h2>
  			<h3>
			  	<%= event.start_time %> 
			  	<%= event.start_date %> 
			  	<%= event.address %>
			  	<%= truncate(event.description, length: 100) %>
		  	</h3>
	<% end %>
</p>