<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "myTO" %></title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api}" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><strong><a class="title"><%= link_to "myTO", root_path %></a></strong></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
       
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
          <!--   <li class="active"><a href="#">Right Button Active</a></li> -->
                <ul>
                  <% if current_user %>
                    <li class="has-dropdown">
                      <a href="#">Signed in as <%= current_user.name %> </a>
                        <ul class="dropdown">
                          <li><%= link_to "Sign out", logout_path, method: :post %></li>
                        </ul>
                    </li>
                  <% else %>
                    <li><%= link_to "Sign up", new_user_path %></li>
                      <li class="has-dropdown">
                        <a>Sign in</a>
                          <ul class="dropdown">
                            <li><%= link_to "Email", new_session_path %></li>
                            <li><%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %></li>
                          </ul>
                      </li>
                  <% end %>
                </ul>
              </ul>
          </ul>
        </section>
      </nav>



      <nav class="top-bar" data-topbar role="navigation">

        <section class="top-bar-section">

          <ul class="left">
            <li class="has-form">
              <div class="row collapse">
                 <div class="large-8 small-9 columns">
                   <%= form_tag events_path, method: :get, remote: true, authentication: false, id: 'search-form' do %>
                   <%= text_field_tag :search, params[:search], placeholder: "Event Name"%>
                </div>
                <div class="large-4 small-3 columns">
                     <button type="submit">Search</button>
                   <% end %>
                </div>
              </div>
            </li>
          </ul>
          <div class="row">
            <li class="has-form">
            <ul class="left">
              <div class="large-8 small-9 columns">
                <%= form_tag events_path, method: :get, id: 'search-form2' do %>
                <%= text_field_tag :search_location, params[:search_location], placeholder: "Location" %>
              </div>
              <div class="large-4 small-3 columns">
                  <button type="submit">Search</button>
                <%end%>
              </div>
              </li>
            </ul>

            <ul class="right">
               <div id="nav">
                <li><%= link_to "Advanced Search", new_search_path %></li>
              </div>
            </ul>
            <ul class="left">
               <div class="large-12 small-12 columns">
                <a class="button expand" id="current-location"> Find events near me</a>
              </div>
            </ul>

          </div>  
        </section>
      </nav>
      <nav class="top-bar" data-topbar role="navigation">

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="left">
             <div id="nav">
              <% Category.all.each do |category| %>
                   <li><%= link_to category.name, category_path(category.id) %></li>
                  <% end %>
             </div>
          </ul>
          <ul class="right">
             <div id="nav">
             
                   <li><%=link_to "+ Add A New Event", new_event_url %></li>
             </div>
          </ul>
        </section>
      </nav>
    </div>




  
<br>
<br>

     

      <script>
        FB.init(params);

        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
          console.log('statusChangeCallback');
          console.log(response);
          // The response object is returned with a status field that lets the
          // app know the current login status of the person.
          // Full docs on the response object can be found in the documentation
          // for FB.getLoginStatus().
          if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
          } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into this app.';
          } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into Facebook.';
          }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : '{your-app-id}',
          cookie     : true,  // enable cookies to allow the server to access 
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.1' // use version 2.1
        });



        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=908454422513063&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
              'Thanks for logging in, ' + response.name + '!';
          });
        }
      </script>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=908454422513063&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      


      <% if flash[:alert] %>
        <section id="alert"><%= flash[:alert] %></section>
      <% end %>

      <% if flash[:notice] %>
        <section id="notice"><%= flash[:notice] %></section>
      <% end %>

    <%= yield %>

    <!-- FOOTER AREA -->
  <div class="full-width footer-area">
    <div class="row">
        <div class="large-12 columns">
            &copy; 2014 Steinunn Olason & Vincent Jim 
        </div>
    </div>
  </div>

  </body>
</html>






