<!DOCTYPE html>
<html>
<head>
  <title>myTO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="nav">
    <%= link_to Tag.first.name, tag_path(Tag.first.name) %>
    <%= link_to Tag.second.name, tag_path(Tag.second.name) %>
    <%= link_to Tag.third.name, tag_path(Tag.third.name) %>
    <%= link_to Tag.fourth.name, tag_path(Tag.fourth.name) %>
    <%= link_to Tag.fifth.name, tag_path(Tag.fifth.name) %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
